body {
    font-family: "Outfit", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ab1dec;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    width: 60%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    color: #333;
}

h3 {
    color: #333;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: #ab1dec;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.job, .project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
